{{> head}}
{{> navbar}}

<div class="row">


    <div class="col-8">
        <h1>Menorca</h1>
        <p>
            bahsdbahdbjabdadjkas, akljsbdlajkdbajlbdajsdb
        </p>
    </div>
    <div class="col-4">
    
        <img src = "assets/img/avatar.png" class="img-thumbnail">
    </div>

</div>